{{ if .Education }}
<div class="sideSection">
    <div class="sideSection__heading{{ if .Site.Params.centerSidebarHeaders }} sideSection__heading--center{{ end }}">
        <h2 class="sideSection__title">{{ i18n "education" }}</h2>
        <div class="sideSection__title__divider"></div>
    </div>
    <div class="sideSection__content">
        <div class="education-side__list">
            {{ $length := len .Education }}
            {{ range $index, $edu := .Education }}
                <div class="education-side__item">
                    <div class="education-side__header">
                        <h3 class="education-side__institution">{{ $edu.Place | safeHTML }}</h3>
                        <h4 class="education-side__degree">{{ $edu.Course | safeHTML }}</h4>
                        <div class="education-side__period">{{ $edu.Date | safeHTML }}</div>
                    </div>
                    {{ if $edu.Details }}
                    <div class="education-side__specialization">
                        <div class="education-side__label">Specialization:</div>
                        <div class="education-side__details">
                            {{ range $edu.Details }}
                            <div class="education-side__detail">{{ . | safeHTML }}</div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ if lt $index (sub $length 1) }}
                <div class="education-side__separator"></div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}